<div class="pb-5 pt-2 mt-5" style="background-color: #1d1d1d;">
    <div class="container">
        <h4 class=" py-3 text-center text-white">YIFY Movies
        </h4>
        <div class="row row-cols-1 row-cols-md-3 gap-4 my-2 justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let movie of movies; let i = index;">
                <div class="card img-container border border-2 p-0 rounded">
                    <img [src]="movie.medium_cover_image" class="card-img-top h-100" alt="Movie Poster" height="300px">
                    <div class="overlay">
                        <h4 class="card-title py-2"><i class='bx bxs-star' style='color:#c8cc0f'></i></h4>
                        <h4 class="card-title">{{ movie.rating }} / 10</h4>
                        <h4 class="py-2">{{ movie.genres.join(', ') }}</h4>
                        <a class="btn btn-primary" [routerLink]="'/movie-details/' + movie.id">
                            View Details
                        </a>
                    </div>
                </div>
                <p class="text-white pt-2 mb-0 text-ellipse">{{ movie.title }}</p>
                <small class="text-light">{{ movie.year }}</small>
            </div>
        </div>
    </div>
</div>