<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-20">
                <ul class="text-center d-flex justify-content-center align-items-center">
                    <li>YTS © 2011 - 2023</li>
                    <li>-</li>
                    <li><a href="https://yts.mx/blog">Blog</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/dmca">DMCA</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/api">API</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/rss-guide">RSS</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/contact">Contact</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/browse-movies">Browse Movies</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/requests">Requests</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/login">Login</a></li>
                    <li>-</li>
                    <li><a href="https://yts.mx/languages">Language</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-20">
                <ul class="text-center d-flex justify-content-center align-items-center">
                    <li style="font-size: .80em">By using this
                        site you agree to and accept our <a href="/terms">User
                            Agreement</a>, which can be read <a href="/terms">here</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>