footer {
    background: #171717;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #2f2f2f;

    a {
        text-decoration: none !important;
        background-color: transparent;
    }



    ul {
        // padding-top: 10px;
        display: inline-block;

        li {
            display: inline;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: .85em;
                font-weight: bold;
                color: #919191;
                transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                -webkit-transition: color .25s ease-in-out;
            }
        }
    }
}


.col-xs-20 {
    width: 100%;

    ul li {
        color: #fff;
        font-size: .80em;
    }
}